### LSE Data Analytics Online Career Accelerator

# DA201: Data Analytics Using Python

## Module 3 (Optional) Challenge activity: Wrangle your data using Pandas

You are employed by Investgenics, an investment firm that specialises in financial data analytics for businesses. The firm provides potential investors with investment advice and planning. As a data consultant, you will need to perform an in-depth analysis of the data to formulate investment strategies for clients, helping them fulfil their needs and reach their financial goals.

As a rule of investing, an investor shouldnâ€™t invest everything in a single place; instead, they should be able to distribute the risks by investing in diverse resources to maximise returns while minimising risk. Although stocks are the leading investment vehicles, historically, investing in commodities such as gold and oil often ensures great returns as well.

Investgenics has a solid reputation for accurately forecasting stocks and commodity-based investments leveraging descriptive and diagnostic analytics. The firm has a robust Python architecture that will let you perform analysis with increased efficiency and productive application across various sources of data that would provide a well-rounded answer to the business objectives. 

In the previous challenge, you calculated the stocks with the highest and lowest level. However, for this week, you will apply your Pandas knowledge to understand your data better and solve some specific problems for Investgenics. The following business questions were posed:

- What is the daily average price of gold and oil in British pounds (GBP)?
- How does the daily average price (GBP) of gold and oil compare?

## 1.0 Prepare your workstation

In [2]:
# Import Pandas.
import pandas as pd

# Import the CSV files.
oil = pd.read_csv('oil_price.csv')
gold = pd.read_csv('gold_stocks_price.csv')

# View the DataFrames.
print(oil.shape)
print(oil.dtypes)

# View the gold DataFrame.
print(gold.shape)
print(gold.dtypes)

(1844, 6)
Date      object
Price    float64
Open     float64
High     float64
Low      float64
Vol.      object
dtype: object
(1718, 81)
Date              object
Open             float64
High             float64
Low              float64
Close            float64
                  ...
USO_High         float64
USO_Low          float64
USO_Close        float64
USO_Adj Close    float64
USO_Volume         int64
Length: 81, dtype: object

## 2.1 Create a subset DataFrame based on `gold_stocks_price.csv`

In [3]:
# Subset the gold DataFrame.
gold_subset = gold[['Date', 'Open', 'High', 'Low']]

# Slice the gold_subset to 500 rows.
gold_subset = gold_subset.iloc[:500]

# View gold_subset.
print(gold_subset.shape)
print(gold.dtypes)

(500, 4)
Date              object
Open             float64
High             float64
Low              float64
Close            float64
                  ...
USO_High         float64
USO_Low          float64
USO_Close        float64
USO_Adj Close    float64
USO_Volume         int64
Length: 81, dtype: object

In [4]:
# Determine the missing values.
gold_subset.isna().sum()

Date    0
Open    0
High    0
Low     0
dtype: int64

In [5]:
# Calculate min and max value for column\ for subsetted gold dataframe. 
print(gold_subset['Open'].min())
print(gold_subset['Open'].max())

117.580002
173.199997

In [6]:
print(gold_subset['High'].min())
print(gold_subset['High'].max())

118.18
174.070007

In [7]:
print(gold_subset['Low'].min())
print(gold_subset['Low'].max())

116.739998
172.919998

### Alternate way using print statement :

In [8]:
print(f"The maximum value for open is the subsetted gold dataframe is {gold_subset['Open'].max()}")
print(f"The minimum value for open is the subsetted gold dataframe is {gold_subset['Open'].min()}")

print(f"The maximum value for high is the subsetted gold dataframe is {gold_subset['High'].max()}")
print(f"The minimum value for high is the subsetted gold dataframe is {gold_subset['High'].min()}")

print(f"The maximum value for low is the subsetted gold dataframe is {gold_subset['Low'].max()}")
print(f"The minimum value for low is the subsetted gold dataframe is {gold_subset['Low'].min()}")

The maximum value for open is the subsetted gold dataframe is 173.199997
The minimum value for open is the subsetted gold dataframe is 117.580002
The maximum value for high is the subsetted gold dataframe is 174.070007
The minimum value for high is the subsetted gold dataframe is 118.18
The maximum value for low is the subsetted gold dataframe is 172.919998
The minimum value for low is the subsetted gold dataframe is 116.739998

#

## 2.2 Create a subset DataFrame based on `oil_price.csv`

In [9]:
# Subset the oil DataFrame.
oil_subset = oil[['Date', 'Open', 'High', 'Low']]

# Slice the oil_subset to 500 rows.
oil_subset = oil_subset.iloc[:500]

# View the oil_subset.
print(oil_subset.shape)
print(oil.dtypes)

(500, 4)
Date      object
Price    float64
Open     float64
High     float64
Low      float64
Vol.      object
dtype: object

In [10]:
# Determine the missing values.
oil_subset.isna().sum()

Date    0
Open    0
High    0
Low     0
dtype: int64

In [11]:
# Calculate the min and max value for column\ for subsetted gold dataframe. 
print(oil_subset['Open'].min())
print(oil_subset['Open'].max())

78.11
110.28

In [12]:
print(oil_subset['High'].min())
print(oil_subset['High'].max())

79.68
112.24

In [13]:
print(oil_subset['Low'].min())
print(oil_subset['Low'].max())

77.28
109.11

### Alternate way using print statement :

In [14]:
print(f"The maximum value for open is the subsetted oil dataframe is {oil_subset['Open'].max()}")
print(f"The minimum value for open is the subsetted oil dataframe is {oil_subset['Open'].min()}")

print(f"The maximum value for high is the subsetted oil dataframe is {oil_subset['High'].max()}")
print(f"The minimum value for high is the subsetted oil dataframe is {oil_subset['High'].min()}")

print(f"The maximum value for low is the subsetted oil dataframe is {oil_subset['Low'].max()}")
print(f"The minimum value for low is the subsetted oil dataframe is {oil_subset['Low'].min()}")

The maximum value for open is the subsetted oil dataframe is 110.28
The minimum value for open is the subsetted oil dataframe is 78.11
The maximum value for high is the subsetted oil dataframe is 112.24
The minimum value for high is the subsetted oil dataframe is 79.68
The maximum value for low is the subsetted oil dataframe is 109.11
The minimum value for low is the subsetted oil dataframe is 77.28

#

## 2.3 Statistical analysis

In [28]:
# Use the describe() function.
gold_subset.describe()

             Open        High         Low  average_gold  avg_gold_GBP
count  500.000000  500.000000  500.000000    500.000000    500.000000
mean   149.033480  149.774340  148.266740    149.024853    119.219883
std     16.923214   16.919180   16.871447     16.897580     13.518064
min    117.580002  118.180000  116.739998    117.666667     94.133333
25%    132.134998  133.144997  131.192501    132.302504    105.842003
50%    155.070000  155.610001  154.360001    155.051669    124.041335
75%    161.862500  162.577500  161.149994    161.802498    129.441998
max    173.199997  174.070007  172.919998    173.396667    138.717334

In [29]:
oil_subset.describe()

             Open        High         Low  average_oil  avg_oil_GBP
count  500.000000  500.000000  500.000000   500.000000   500.000000
mean    96.196620   97.153780   95.084320    96.144907    76.915925
std      6.991871    6.945661    7.003769     6.962806     5.570245
min     78.110000   79.680000   77.280000    78.680000    62.944000
25%     91.707500   92.627500   90.645000    91.702500    73.362000
50%     95.790000   96.640000   94.820000    95.811667    76.649333
75%    102.002500  102.962500  100.847500   101.875000    81.500000
max    110.280000  112.240000  109.110000   110.190000    88.152000

## 3.1 Determine the daily average price of gold and oil.

In [31]:
# Determine the average price of gold per day.
# Write a user-defined function.
def avg_col3(x, y, z):
    a = (x + y + z)/3
    return a

# Insert avg into a new column.
gold_subset['average_gold'] = avg_col3(gold_subset['Open'], gold_subset['High'], gold_subset['Low'])

# View the DataFrame.
gold_subset.round(2).head()

         Date    Open    High     Low  average_gold  avg_gold_GBP
0  2011-12-15  154.74  154.95  151.71        153.80        123.04
1  2011-12-16  154.31  155.37  153.90        154.53        123.62
2  2011-12-19  155.48  155.86  154.36        155.23        124.19
3  2011-12-20  156.82  157.43  156.58        156.94        125.55
4  2011-12-21  156.98  157.53  156.13        156.88        125.50

In [32]:
# Calculate the average of oil prices per day.
# Write a user-defined function.
def avg_col3(x, y, z):
    a = (x + y + z)/3
    return a

oil_subset['average_oil'] = avg_col3(oil_subset['Open'], oil_subset['High'], oil_subset['Low'])

# View the DataFrame.
oil_subset.round(2).head()

         Date    Open    High     Low  average_oil  avg_oil_GBP
0  2011-12-01  100.51  101.17   98.87       100.18        80.15
1  2011-12-02  100.00  101.56   99.76       100.44        80.35
2  2011-12-05  101.23  102.44  100.24       101.30        81.04
3  2011-12-06  100.45  101.42  100.20       100.69        80.55
4  2011-12-07  101.11  101.94   99.67       100.91        80.73

#

## 3.2 Convert the daily average price of gold and oil from US dollars to British Pound

In [33]:
# Employ lambda function to convert US dollars to British pounds.
# Where 1 US$ = 0.8 GBP.
gold_subset['avg_gold_GBP'] = gold_subset['average_gold'].apply(lambda x: x*0.8)

# View the DataFrame.
gold_subset.round(2).head()

         Date    Open    High     Low  average_gold  avg_gold_GBP
0  2011-12-15  154.74  154.95  151.71        153.80        123.04
1  2011-12-16  154.31  155.37  153.90        154.53        123.62
2  2011-12-19  155.48  155.86  154.36        155.23        124.19
3  2011-12-20  156.82  157.43  156.58        156.94        125.55
4  2011-12-21  156.98  157.53  156.13        156.88        125.50

In [34]:
# Employ lambda function to convert US dollars to British pounds.
# Where 1 US$ = 0.8 GBP.
oil_subset['avg_oil_GBP'] = oil_subset['average_oil'].apply(lambda x: x*0.8)

# View the DataFrame.
oil_subset.round(2).head()

         Date    Open    High     Low  average_oil  avg_oil_GBP
0  2011-12-01  100.51  101.17   98.87       100.18        80.15
1  2011-12-02  100.00  101.56   99.76       100.44        80.35
2  2011-12-05  101.23  102.44  100.24       101.30        81.04
3  2011-12-06  100.45  101.42  100.20       100.69        80.55
4  2011-12-07  101.11  101.94   99.67       100.91        80.73

#

## 3.3 Compare the average gold and oil price in GBP

In [24]:
# Subset the gold df with date and average prie.
gold = gold_subset[['Date', 'avg_gold_GBP']]

gold.head()

         Date  avg_gold_GBP
0  2011-12-15    123.040002
1  2011-12-16    123.621330
2  2011-12-19    124.186666
3  2011-12-20    125.554667
4  2011-12-21    125.504000

In [25]:
# Subset the oil df with date ad average price.
oil = oil_subset[['Date', 'avg_oil_GBP']]

oil.head()

         Date  avg_oil_GBP
0  2011-12-01    80.146667
1  2011-12-02    80.352000
2  2011-12-05    81.042667
3  2011-12-06    80.552000
4  2011-12-07    80.725333

In [26]:
# Merge the two DataFrames.
gold_oil = pd.merge(gold, oil, on='Date', how='left')

gold_oil.head()

         Date  avg_gold_GBP  avg_oil_GBP
0  2011-12-15    123.040002    75.784000
1  2011-12-16    123.621330    74.861333
2  2011-12-19    124.186666    74.858667
3  2011-12-20    125.554667    76.194667
4  2011-12-21    125.504000    78.288000